@include zoom-animation('top', scaleY(0), scaleY(1), center top);
@include zoom-animation('left', scale(.45, .45), scale(1, 1), top left);
@include zoom-animation('right', scale(.45, .45), scale(1, 1), top right);
@include zoom-animation('bottom', scaleY(0), scaleY(1),  center bottom);

@keyframes btnClick {
  0%{
    box-shadow: 0 0 5px rgba($primary,1);
  }
  //50%{
  //  box-shadow: 0 0 5px rgba($primary,.3);;
  //}
  100%{
    box-shadow: 0 0 5px rgba($primary,0);;
  }
}

@keyframes orange-progress-active{
  0%{
    width: 0;
    left: -100%;
    opacity: 0;
  }
  30%{
    opacity: .2;
  }
  100%{
    width: 100%;
    left: 0;
    opacity: 0;
  }
}
