.btn{
  margin-left: 10px;
}

.img{
  width: 200px;
  height: 200px;
  display: block;
  margin: auto;
  object-fit: contain;
  background-color: #5bc0de;
}

.myBtn{
  margin: 20px;
  background-color: white;
  outline: none;
  border: 1px solid #efefef;
}
.myBtn:hover{
  color: #5bc0de;
  border: 1px solid #5bc0de;
}
.myBtn:focus{
  color: #5bc0de;
  outline: none;
  border: 1px solid #5bc0de;
  transition: all .1s;
  animation: linear .15s btnClick;
}

@keyframes btnClick {
  0%{
    box-shadow: 0 0 0 #5bc0de;
  }
  50%{
    box-shadow: 0 0 5px #5bc0de;
  }
  100%{
    box-shadow: 0 0 0 #5bc0de;
  }
}


.mytabs{
  width: 100%;
  height: 200px;
}
.minput{
  width: 200px;
}
.mySelect{
  width: 20rem;
}

.login{
  margin-top: 40px;
  width: 60%;

}
.orange-form-submit-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
