.orange-tree-list{
  .orange-tree-list-holder{

    .orange-tree-list-holder-inner{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .orange-tree-treeNode{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: $orange-tree-treeNode-padding;
        outline: none;
      }
      .orange-tree-list-subtree{
        margin-left: $orange-tree-list-subtree-margin-left;
        .orange-tree-list-subtree-angle{
          cursor: pointer;
          display: inline-block;
          transition: transform .2s;
        }
        .orange-tree-list-subtree-angle-close{
          transform: rotate(180deg);
        }

        .orange-tree-list-subtree-item{
          margin: 0 0 0 $orange-tree-list-subtree-item-margin-left;
          cursor: pointer;
          padding: $orange-tree-list-item-title-padding;
          &:hover{
            background-color: $gray-200;
          }
        }
        .orange-tree-list-subtree-item-disabled{
          color: $disabled-color;
          cursor: not-allowed;
          pointer-events: none;
          &:hover{
            background-color: white;
          }
        }

        .orange-tree-list-checkbox{
          margin: 0 0 0 $orange-tree-list-subtree-item-margin-left;
          padding: $orange-tree-list-item-title-padding;
        }
      }
      .orange-tree-list-item{
        margin-left: $orange-tree-list-item-margin-left;
        padding: $orange-tree-list-item-title-padding;
        display: flex;
        flex-direction: row;
        align-items: center;
        &>.orange-tree-list-checkbox{
          margin: 0 4px 0 $orange-tree-list-subtree-item-margin-left;
          padding: 0;
        }
        .orange-tree-list-item-title{
          margin: 0 0 0 $orange-tree-list-subtree-item-margin-left;
          padding: $orange-tree-list-item-title-padding;
          cursor: pointer;
          &:hover{
            background-color: $gray-200;
          }
        }
      }
    }
  }
}
